<!-- <div class="form-floating ">
    <input type="search" class="form-control" placeholder="Поиск по наименованию:" id="search" [(ngModel)]="productName">
    <label for="search">Поиск по наименованию:</label>
</div>
<section class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-3" style="width: 80%; margin: 0 auto;">
    <app-product [Product]="p" *ngFor="let p of products | async | sorting : productsServ.type | search : productName" class="col"></app-product>
</section> -->

<h2>Добро пожаловать в магазин</h2>